---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
      <main class="flex lg:flex justify-center place-content-center">
      <div class="lg:order-1 hidden lg:block absolute w-auto -z-10 top-0 opacity-50">
        <video autoplay = "autoplay" muted = "true" playsinline loop = "true">
          <source src="src/assets/vids/intro-md-crop.mp4" type="video/mp4" />
        </video>
      </div>
    </main>
    <Hero />
    <Features />
    <Cta />
  </Container>
</Layout>
