---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Vision</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="text-center font-normal text-3xl text-gray-700">Help people lead happy families.</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        At Queteksolutions we help pave the way to the future by helping people to lead happy families. We are a team of like-minded and
        determined individuals, all sharing a vision for success.
      </p>
    </div>
    <Sectionhead>
      <Fragment slot="title">Mission</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        Our mission is to provide superior quality IT products and services that: EMPLOYEES recommend to their clients, vendors, family and
        friends, VENDORS/PARTNERS prefer our employees and consultants, CLIENTS prefer our employees and consultants, stay cutting edge by
        constantly transforming business, and retain the brightest and the best by providing an rewarding environment that breeds success.
      </p>
    </div>

    <Sectionhead>
      <Fragment slot="title">Values</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="text-center font-normal text-3xl text-gray-700">We're different... for a reason.</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We go beyond basic systems engineering and integration to unlock the greatest business impact for our clients. We have purpose-built
        the capability to do the challenging technical and engineering work that others don’t — to provide sustained results. Our clients
        trust us to build solutions that do more than just help them to survive, but to thrive in uncertain times — through resiliency,
        efficiency, and innovation.
      </p>
    </div>
  </Container>
</Layout>
