---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
// import { Image } from "@astrojs/image/components";

// const TeamImg1 = "https://images.unsplash.com/photo-1580489944761-15a19d654956?&fit=crop&w=280";
// const TeamImg2 = "https://images.unsplash.com/photo-1633332755192-727a05c4013d?&fit=crop&w=280";
// const TeamImg3 = "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?&fit=crop&w=280";

// const team = [
//   {
//     name: "Jane Doe",
//     title: "Senior Director",
//     avatar: {
//       src: TeamImg1,
//       width: 480,
//       height: 560,
//     },
//   },
//   {
//     name: "Max Plank",
//     title: "Principal Strategist",
//     avatar: {
//       src: TeamImg2,
//       width: 580,
//       height: 580,
//     },
//   },
//   {
//     name: "Roberto Carlos",
//     title: "Marketing Engineer",
//     avatar: {
//       src: TeamImg3,
//       width: 580,
//       height: 580,
//     },
//   },
// ];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Vision</Fragment>
      <!-- <Fragment slot="desc">We are a small passionate team.</Fragment> -->
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="text-center font-normal text-3xl text-gray-700">Help people lead happy families.</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        At Queteksolutions we help pave the way to the future by helping people to lead happy families. We are a team of like-minded and
        determined individuals, all sharing a vision for success.
      </p>
    </div>
    <Sectionhead>
      <Fragment slot="title">Mission</Fragment>
      <!-- <Fragment slot="desc">We are a small passionate team.</Fragment> -->
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <!-- <h2 class="font-bold text-3xl text-gray-800">Help people lead happy families.</h2> -->
      <p class="text-lg leading-relaxed text-slate-500">
        Our mission is to provide superior quality IT products and services that: EMPLOYEES recommend to their clients, vendors, family and
        friends, VENDORS/PARTNERS prefer our employees and consultants, CLIENTS prefer our employees and consultants, stay cutting edge by
        constantly transforming business, and retain the brightest and the best by providing an rewarding environment that breeds success.
      </p>
    </div>

    <Sectionhead>
      <Fragment slot="title">Values</Fragment>
      <!-- <Fragment slot="desc">We are a small passionate team.</Fragment> -->
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="text-center font-normal text-3xl text-gray-700">We're different... for a reason.</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We go beyond basic systems engineering and integration to unlock the greatest business impact for our clients. We have purpose-built
        the capability to do the challenging technical and engineering work that others don’t — to provide sustained results. Our clients
        trust us to build solutions that do more than just help them to survive, but to thrive in uncertain times — through resiliency,
        efficiency, and innovation.
      </p>
    </div>
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                {...item.avatar}
                format="avif"
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
