---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="About">
  <Container>
    <div class="bg-slate-900 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
      <h2 class="text-white text-4xl md:text-6xl">Technologies</h2>
      <p class="text-slate-400 mt-4 text-lg md:text-xl">Some Cutting Edge Technologies that We Support</p>
    </div>

    <!-- Java -->

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/java.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Java</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            Scale your development capacity with Java developers. Our model lets you grow your local technology unit within our custom team
            composition process that adheres to your engineering practices.
          </p>
        </div>
      </div>

      <!-- Python -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/python.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Python</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We provide leading companies with top engineers who specializes in hands-on experience of analyzing data, algorithm and
            automations.
          </p>
        </div>
      </div>

      <!-- C++ -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/cpp.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">C++</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            Our team is packed with .NET developers who has years of experience in Windows and Microsoft full technology stack for software
            development.
          </p>
        </div>
      </div>

      <!-- .Net -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/net.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Microsoft .Net</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We build teams of .NET developers with experience in Windows and Microsoft Technology for full software development.
          </p>
        </div>
      </div>

      <!-- Android -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/android.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Android</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            Our team is proficient in the Google Play programming environment and have expertise in developing Android application.
          </p>
        </div>
      </div>

      <!-- Apple -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/apple.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Apple</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We use different frameworks used by Apple Inc. Our team will design and develop your idea right into development.
          </p>
        </div>
      </div>

      <!-- Blockchain -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/blockchain.png" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Blockchain</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We have a network of top blockchain developers, engineers, and consultants and blockchain engineers to launch ICOs, write smart
            contracts, and more.
          </p>
        </div>
      </div>

      <!-- Cybersecurity -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/cyber.png"/>
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Cyber Security</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We have a team that will make your existing security solutions better with greater visibility and detection.
          </p>
        </div>
      </div>

      <!-- Php -->

      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-[24rem]" src="src/assets/technologies/php.png"/>
        <div class="p-5">
          <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">PHP</h5>
          <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
            We assemble teams of developers in an effort to develop solutions for CMS and project management tools.
          </p>
        </div>
      </div>
    </div>
  </Container>
</Layout>
