---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<Layout title="">
  <Container>
    <main class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-8">
      <div class="py-6 lg:order-1 hidden lg:block absolute -z-10 opacity-50">
        <lottie-player
          src="src/assets/lottie/training-1.json"
          background="transparent"
          speed="1"
          style="width: 900px; height: 800px;"
          loop
          autoplay
        />
      </div>
      <div class="lg:my-56">
        <h1 class="text-5xl text-center lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">IT Training</h1>
      </div>
    </main>

    <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
      <div class="py-6 lg:order-1 hidden lg:block">
        <img src="src/assets/classroom.jpg" alt="classroom" class="h-96 w-auto" />
      </div>
      <div>
        <h2>GET HANDS-ON TRAINING</h2>
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight">Class Room Training</h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          Get trained in multiple technology topics in person at Queteksolutions classroom training. Our IT labs are equipped with latest
          cloud infrastructure which simulate the real time scenarios. Learn from Top Class Trainers who are certified and follow industry
          standards.
        </p>
      </div>
    </main>

    <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
      <div class="py-6 lg:order-0 hidden lg:block">
        <!-- <Image src={heroImage} alt="Astronaut in the air" loading="eager" format="avif" /> -->
        <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
        <img src="src/assets/online.jpg" alt="classroom" class="h-96 w-auto" />
      </div>
      <div>
        <h2>VIRTUAL OPPORTUNITY</h2>
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight">Online Training</h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          You can opt in to get trained online/remotely and still experience Queteksolutions Get access to our comprehensive training on
          various technologies. You will not miss a heartbeat, since it is led by a Live Instructor, and you can complete the course at your
          own pace. Live projects, a variety of assignments and 1x1 feedback will help you to elevate your IT skills to the next level.
        </p>
      </div>
    </main>

    <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-8">
      <div class="py-6 lg:order-1 hidden lg:block">
        <img src="src/assets/corporate.jpg" alt="classroom" class="h-96 w-auto" />
      </div>
      <div>
        <h2>GET HANDS-ON</h2>
        <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight">Corporate Training</h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          We are experts at what we do. Let us help you drive your business growth and IT Knowledge capital to the next level. We offer
          instructor led, or virtual training for your company. We serve companies with less than 5, or more than 500 employees. If you are
          looking to certify a team on key IT skill sets, or augment your technical capabilities with new cutting edge technologies, look no
          further. Experience Queteksolutions, our customized training plan for corporations and executives.
        </p>
      </div>
    </main>
  </Container>
</Layout>
