---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Heading 1",
    description:
      "Ipsum qui Lorem labore anim ea veniam irure reprehenderit aliquip. Qui tempor eiusmod exercitation sit qui velit nisi elit et. Aute aliqua eiusmod sit pariatur consequat ipsum nulla deserunt voluptate labore fugiat. Culpa ullamco eu consequat magna non est incididunt laboris esse ipsum id.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Heading 2",
    description:
      "Tempor veniam pariatur in commodo veniam duis. Culpa reprehenderit culpa proident dolore culpa excepteur. Id officia et incididunt qui laboris.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Heading 3",
    description:
      "Consectetur culpa pariatur cillum occaecat ex dolore et ex excepteur sit laboris sit. Consectetur excepteur nulla nostrud eu. Ullamco cillum deserunt ullamco ad fugiat eiusmod occaecat ex ut. Labore quis nisi excepteur dolor. Esse est id officia minim est amet. Cillum ipsum eu magna laborum dolore in sint reprehenderit.",
    icon: "bx:bxs-data",
  },
  {
    title: "Heading 4",
    description:
      "Tempor quis aute sit dolor aliquip quis adipisicing adipisicing ipsum reprehenderit tempor consectetur. Officia anim occaecat aliquip labore id duis velit. Labore excepteur cupidatat tempor Lorem nostrud id reprehenderit est dolor consectetur do.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Heading 5",
    description:
      "Fugiat incididunt ullamco sunt exercitation aliquip consectetur sit non Lorem est ad reprehenderit mollit ullamco. Deserunt mollit est dolor excepteur minim consequat non tempor deserunt. Consequat minim occaecat do incididunt adipisicing labor.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Heading 6",
    description:
      "Esse aute do tempor anim dolore excepteur nulla incididunt. Sit tempor cupidatat tempor veniam veniam enim nostrud amet nulla. Ullamco ut sunt aute laboris labore enim incididunt.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Ipsum excepteur in adipisicing in.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Do irure tempor est non ipsum in. Ea ad sunt anim ullamco. Elit et occaecat
    dolor deserunt enim qui mollit nostrud. Et ea nulla anim dolore cupidatat ea
    veniam sint esse Lorem quis exercitation reprehenderit. Consequat irure id
    commodo laboris ea proident sint minim officia et sunt duis irure et.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
