---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Accounting",
    description:
      "You can depend on us to optimize your institution’s IT performance, and give your organization a competitive edge at your accounting establishment.",
    icon: "mdi:airplane",
  },
  {
    title: "Architecture",
    description:
      "We help keep your network healthy because your business depends on its ability to support all critical functions of your operations. ",
    icon: "mdi:home",
  },
  {
    title: "Finance",
    description:
      "We provide custom software solutions and related services to financial and fintech organizations, including banks, credit unions and more.",
    icon: "bx:bxs-data",
  },
  {
    title: "Retail",
    description:
      "Our team develops retail software to empower brick-and-mortars, mid sized companies and more to compete with other ecommerce platforms.",
    icon: "fluent:building-retail-20-filled",
  },
  {
    title: "Transportation",
    description:
      "Air & rail transportation organizations depend heavily on their client interfaces & of course, their timely services to spur growth. ",
    icon: "mdi:transportation",
  },
  {
    title: "Education",
    description:
      "We handle high-level IT systems in the most  business environments, we can help you figure out cost-effective ways to accomplish your goals.",
    icon: "simple-icons:bookstack",
  },
];
---

<div class="mt-24 mb-24 md:mt-24">
  <h2 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">Changing The Game</h2>
  <p class="text-center text-lg mt-4 text-slate-600">Some Industries We Serve</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3> <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
